[Unit]
Description=chmod rw-rw-rw- /dev/tap*

[Service]
Type=oneshot
ExecStart=/bin/bash -c "/usr/bin/chmod 666 /dev/tap$(/usr/bin/cat /sys/class/net/%I/ifindex)"
#ExecStart=/usr/bin/ip link set up %I
RemainAfterExit=true

[Install]
WantedBy=sys-devices-virtual-net-%i.device
